
// TODO: Centralize measurements
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;


// TODO: Add this to a central functs file
.centerIconWithText {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    margin-bottom: 8px;// TODO: Abstract this
    margin-top: 8px;// TODO: Abstract this

    svg {
        margin-right: 12px;
    }
}


.groupRoleDuration {
    text-align: right;
}

.groupTitle {
    // margin-bottom: 18px;
    margin: 0 32px 18px;
    text-align: center;

    @media (max-width: $tablet-breakpoint) {
        // margin: 0 32px 18px;
        margin-left: 24px;
        margin-right: 24px;
        
        // padding-left: 0;
        // padding-right: 0;
    }
}

.groupName {
    margin-bottom: 24px;
}

.groupSummary {
    margin-bottom: 24px;
}

// .years-awarded {
//     margin-bottom: 32px
// }

.group-divider {
    // margin-bottom: 24px;
    margin: 32px 0;
}
    



.groupSection {
    // margin-bottom: 48px;
    // background-color: rgb(50, 50, 50);

    // background-color: #222;

    margin: 16px 32px;
    padding: 24px;
    // background-color: #404246;
    // background-color: #393939;;
    background-color: #272727;;

    // &.even {
    //     // background-color: rgb(60, 60, 60);
    // }
    @media (max-width: $tablet-breakpoint) {
        margin-left: 0;
        margin-right: 0;
        
        // padding-left: 0;
        // padding-right: 0;
    }
}