@import '../../styles/AppBase';

// TODO: Centralize measurements


// TODO: Add this to a central functs file
.centerIconWithText {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    margin-bottom: 8px;// TODO: Abstract this
    margin-top: 8px;// TODO: Abstract this

    svg {
        margin-right: 12px;
    }
}


.groupRoleDuration {
    display: flex;
    padding: 12px 0;
}

.groupRoleDurationText {
    padding-left: 4px;
}

.groupName {
    margin-bottom: 24px;
}

.groupSummary {
    margin-bottom: 24px;
}

.group-divider {
    margin: 32px 0;
}
    



.groupSection {
    margin: 16px 32px;
    padding: 24px;
    background-color: $section-background-color-dark2;
    @include appThemeLightWrapper(&){
        background-color: $section-background-color-light2;
    }


    @media (max-width: $tablet-breakpoint) {
        margin-left: 0;
        margin-right: 0;
    }
}