$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;

main {
    max-width: 1200px;
    margin: auto;
}

h2.company-name {
    font-size: 48px
    // display: inline-block;
    // margin-left: 36px;
}

.company-logo {
    margin-right: 36px;
    box-shadow: 1px 1px 10px darkgrey;
    filter: grayscale(1);
}

.section-container {
    margin: 16px 32px;
    padding: 24px;
    background-color: #404246;
    // background-color: #0d1117;
    // border-radius: 12px;

    // .company-name {
    //     margin: 12px 0;
    //     font-size: 32px;
    //     font-weight: normal;
    // }
    
    @media (max-width: $tablet-breakpoint) {
        margin-left: 0;
        margin-right: 0;
        
        padding-left: 0;
        padding-right: 0;
    }
}

.section-top-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    @media (max-width: $tablet-breakpoint) {
        margin-left: 32px;
    }
}

.role-calendar {
    margin-right: 6px;
    margin-left: 12px;
}

// .roles-container {
//     margin-top: 12px;

    
// }



// .roles-name {
//     // font-size: 24px;
//     margin: 12px 0;
// }


// .role-container {
//     margin: 16px 0;
// }


.projects-name {
    font-size: 18px;
}

.container-get-better-name {
    margin-bottom: 24px;
    
    h2,h3,h4,h5,h6 {
        margin-bottom: 8px;

        text-decoration: underline #393939 4px;
        text-underline-offset: 6px;
    }

    .project-name {
        text-decoration-thickness: 2px;
    }

    h4 {
        font-size: 24px;
    }

    .projects-header {
        margin-bottom: 24px;
    }
    
}

.role-details-divider {
    position: relative;
    bottom: 12px;
}

.role-header {
    font-size: 24px;
}

.role-date {
    display: flex;
    align-items: center;
    font-size: 14px;
}

// .project-details-container {
//     margin: 12px 0;
// }

.project-details-headers {
    margin: 12px 0;
    font-size: 18px;

    // & + .project-details-headers {
    //     margin-top: 18px;
    // }
}

.tool-name {
    display: inline-block;
}

.tool-description-container {
    padding: 0 24px;
}

.projects-divider {
    margin: 48px 0;
}

.language-chip {
    margin-right: 12px;
}
