// Icon colors

$color-linkedin: #0a66c2;
$color-github: #171515;
$color-email: #E95F5C;
$color-phone: #4285F4;

// dark mode
$color-section-background-color-dark: #404246;
$color-inner-section-background-color-dark: #3f4246;
$section-background-color-dark2: #272727;


// light mode
$section-background-color-light1: rgb(246, 248, 250);
$section-background-color-light2: rgb(212, 217, 222);

$color-light-text: rgb(255, 255, 255);


$color-default-icon: lightgrey;
$icon-background-color-dark: #333;

// speed dial
$color-speed-dial-background: lightgrey;