.rolesName {
    // font-size: 24px;
    margin: 12px 0;
}

// TODO: Add this to a central functs file
.centerIconWithText {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    margin-bottom: 8px;// TODO: Abstract this
    margin-top: 8px;// TODO: Abstract this

    svg {
        margin-right: 12px;
    }
}

// TODO: Add this to a central functs file
.roleCalendar {
    margin-right: 6px;
    margin-left: 12px;
}