.breadcrumbs {
    padding: 12px 0;
    margin-left: 40px;
}

.highlight {
    font-weight: bold;
    text-decoration: underline; // Move to centralized file
    text-underline-offset: 6px; // Move to centralized file
    text-decoration-thickness: 4px; // Move to centralized file
}