@import "../../styles/AppBase";

.mainContent {
    min-height: 85dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    margin: 24px 0;
}

.introCont {
    text-align: center;
    padding: 0 16px;
    
    // TODO: Research why native stylesheet is overriding display flex
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 900px) {
        margin-top: 12px;
        order: 2;
    }
}

.avatarImg {
    width: auto;
    height: auto;
    border-radius: 12px;
    margin: auto;
    @include image-filter(&, 1, ('opacity .5s ease-in-out'));
}

.avatarImgCont {
    text-align: center;
}

.speedDialCont {
    align-self: flex-end;
}